.images{
    border-radius: 1rem;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
}
hr{
    height:4px;
    border-width:0;
    color:gray;
    background-color:rgb(17, 13, 13);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    
    
}
.unorder-box{
    font-size: 18px;
}
.chart-section{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}